.painter {
    grid-area: paint;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
}

.painter__inner {
    position: relative;
    box-sizing: content-box;
    border: 2px solid var(--main-color);
    overflow: hidden;
}

.painter__coords {
    display: block;
    position: absolute;
    padding: .4rem .6rem;
    color: white;
    background-color: var(--main-color);
}
.painter__coords-rigth-side {
    bottom: 0;
    right: 0;
    border-top-left-radius: .3rem;
}
.painter__coords-left-side {
    bottom: 0;
    left: 0;
    border-top-right-radius: .3rem;
}

.painter__shadow {
    position: absolute;
    background-color: var(--shadow-color);
}

.painter__canvas {
    background: url('../../../assets/background/background.png');
    box-sizing: content-box;
}