.landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.landing__header {
    margin: 0 0 2rem 0;
    padding: 0;
    font-family: 'FR73 Pixel W00 Regular', sans-serif;
}

.landing__canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hints {
    display: grid;
    grid-template-columns: 1fr .4fr;
    grid-template-rows: 1fr .4fr;
    grid-template-areas:
    "main key"
    "bott key";
    column-gap: 1rem;
    row-gap: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.hints__main-block {
    grid-area: main;
    border: .1rem solid gray;
    border-radius: .2rem;
    padding: .4rem;
}

.hints__keyboard-block {
    grid-area: key;
    border: .1rem solid gray;
    border-radius: .2rem;
    padding: .4rem;
    font-size: .9rem;
}

.hints__keyboard-block p:first-child {
    margin-bottom: .6rem;
}

.hints__mouse-block {
    grid-area: bott;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: .1rem solid gray;
    border-radius: .2rem;
    padding: .3rem;
    font-size: .9rem;
}

.exemples {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exemples p {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.exemples__wrapper {
    display: flex;
}

.exemples__inner {
    padding: .1rem;
    margin: 1rem 1rem 0;
}

.exemples__image {
    width: 100px;
    height: 100px;
    border: .1rem solid gray;
    border-radius: .4rem;
    background-color: white;
}

.footer-info {
    margin-top: 1rem;
}
