.app__inner {
    display: grid;
    grid-template-columns: 90px 1fr 520px 80px 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tool frame paint color prev"
    "tool frame paint side side";
}