.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 70px 160px 520px 70px 1fr;
    grid-template-rows: .3fr 1fr 1fr;
    grid-template-areas: 
    "head head head head head"
    "tool frame paint color prev"
    "tool frame paint side side";
}