.side-bar {
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.side-bar__settings {
    margin: 1rem 0;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.side-bar__settings-btn {
    margin: .5rem;
}